@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
   
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-image: url(../../Pictures/Фон.jpg); 
  background-position: 55%;

}
}



